<%= javascript_include_tag "datepicker" %>

<%= form_for(@lanparty) do |f| %>
  <% if @lanparty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lanparty.errors.count, "error") %> prohibited this lanparty from being saved:</h2>

      <ul>
      <% @lanparty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :partyname %>    
    <%= f.text_field :partyname, class: 'form-control' %>    
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :startdate %>
    <div class="input-group date" id="datetimepicker1">
      <%= f.text_field :startdate, class: 'form-control' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :enddate %>
    <div class="input-group date" id="datetimepicker2">
      <%= f.text_field :enddate, class: 'form-control' %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="actions">    
      <%= f.submit :class => "btn btn-primary" %>    
  </div>
<% end %>