<%= javascript_include_tag "datepicker" %>

<%= form_for(@lanparty) do |f| %>
  <% if @lanparty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lanparty.errors.count, "error") %> prohibited this lanparty from being saved:</h2>

      <ul>
      <% @lanparty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_form_for(@lanparty) do |f| %>
    <%= f.text_field :partyname %>
    <%= f.text_field :address %>
    <%= f.text_field :city %>
    <%= f.datetime_picker :startdate %>
    <%= f.datetime_picker :enddate %>
    <%= f.text_area :description %>
    <%= f.collection_select(:game_ids, Game.all, :id, :name, {}, { :multiple => true }) %>
    <%= f.submit "Create Lanpary" %>
  <% end %>

<% end %>