<p id="notice"><%= notice %></p>

<h1>Listing Lanparties</h1>

<div class="simple-calendar">
  <%= month_calendar events: @lanparties do |date, lanparties| %>
    <%= date %>

    <% lanparties.each do |party| %>
      <div>
        <%= party.partyname %>
      </div>
    <% end %>
  <% end %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Partyname</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Description</th>      
    </tr>
  </thead>

  <tbody>
    <% @lanparties.each do |lanparty| %>
      <tr>
        <td><%= link_to lanparty.partyname, lanparty %></td>
        <td><%= lanparty.startdate %></td>
        <td><%= lanparty.enddate %></td>
        <td><%= lanparty.description %></td>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lanparty', new_lanparty_path, :class => "btn btn-primary" %>
