<div class="row">
<p>
<dl class="dl-horizontal">
	<dt>Name:</dt>
	<dd><%= @lanparty.partyname %></dd>
	<dt>Address:</dt>
	<dd><%= @lanparty.address %>, <%= @lanparty.city %></dd>
	<dt>Starting time:</dt>
	<dd><%= @lanparty.startdate %></dd>
	<dt>Ending time:</dt>
	<dd><%= @lanparty.enddate %></dd>
</dl>
</p>
</div>


<div class="row">
	<p>
		<strong>Description:</strong>
		<div class="well col-sm-4">  	
	  	<%= @lanparty.description %>
	  	</div>  	
	</p>
</div>



<h4>Participants</h4>
<% if @lanparty.users.any? %>
	<div class="row">
	<p>
		<ul class="list-group col-md-4">
			<% @participants.each do |p| %>
			<li class="list-group-item"><%= link_to p.user.username, p.user %></li>
			<% end %>
		</ul>
	</p>
	</div>
<% else %>
<% end %>

<h4>Games</h4>
<% if @lanparty.games.any? %>
	<div class="row">
	<p>
		<ul class="list-group col-md-4">
			<% @games.each do |g| %>
			<li class="list-group-item"><%= link_to g.game.name, g.game %></li>
			<% end %>
		</ul>
	</p>
	</div>
<% else %>
<% end %>


<div class="row">
<p>
<% if current_user and not @lanparty.users.include? current_user %>
	<%= form_for(@participant) do |f| %>
		<%= f.hidden_field :lanparty_id %>
		<%= f.submit class:"btn btn-primary btn-sm", value:"Participate" %>
	<% end %>
<% end %>

<% if current_user and @lanparty.users.include? current_user %>
	<%= form_for(@participant, method: "delete") do |f| %>
		<%= f.hidden_field :lanparty_id %>
		<%= f.submit class:"btn btn-danger btn-sm", value:"Leave" %>
	<% end %>
<% end %>
</p>
</div>
<br>

<div class="row">
<%= edit_and_destroy_buttons(@lanparty) %>
</div>