<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= bootstrap_form_for(@game) do |f| %>
    <div class="row">
      <%= f.text_field :name, wrapper: { class: 'col-xs-3' } %>
    </div>
    <div class="row">
      <%= f.number_field :year, wrapper: { class: 'col-xs-3' } %>
    </div>
    <div class="row">
      <%= f.text_field :platform, wrapper: { class: 'col-xs-3' } %>
    </div>
    <%= f.submit "Submit" %>
  <% end %>
  
<% end %>
