<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @game.year %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @game.platform %>
</p>

<% if @game.ratings.empty? %>
<p>The game has not been rated yet.</p>
<% else %>
<p>The game has <%= pluralize(@game.ratings.count, 'rating') %> with average of <%= @game.average_rating %></p>
<% end %>

<h4>Rate the game:</h4>

<%= form_for(@rating) do |f| %>
	<%= f.hidden_field :game_id %>
 	Score: <%= f.number_field :score %>
 	<%= f.submit :class => "btn btn-primary btn-sm" %>
<% end %>

<%= edit_and_destroy_buttons(@game) %>